h1 Mobile Device Poll
h3.
	We would like to collect an *anonymous* description of basic features of your device (the model number of the phone, and the screen size).
	This information will be recorded and used to make decisions on features to be implemented in our app based on general trends of phones carried.
	This is collected automatically when the submit button is tapped.
button.snip1479(onclick='GenerateTableRow()') Submit Anonymous Device Description
